name: CI-iOS
on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4

      - name: Select latest stable Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Show Xcode
        run: xcodebuild -version

      - name: Create Secrets.xcconfig
        env:
          SECRETS_XCCONFIG: ${{ secrets.SECRETS_XCCONFIG }}
        run: |
          echo "$SECRETS_XCCONFIG" | base64 --decode > BoilerplateApp/BoilerplateApp/Config/Secrets.xcconfig

      - name: Build and Test
        run: make test
